/* set the container */
.dashboard-wrap{
  /* overflow if for the broker image */
  overflow-x: hidden;
  @media (max-width: $screen-xs-max){
    padding: 1em;
    padding-bottom: 3em;
  }
  @media (max-width: 450px){
    padding-bottom: 5em;
  }
}
.dashboard-title{
  text-align: center;
  color: $gray-darker;
  padding: 0.5em;
}
.max-width-970-auto{
  max-width: 970px;
  margin: auto;
}
.dark-bkgd-title{
  padding: 0.5em;
  margin: 0 -1px;
  color: #fff;
  background-color: $gray-dark;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'proxima-nova';
  
}
.gray-bkgd-bdr{
  margin-bottom: 2em;
  background-color: $gray-lighter;
  border: 1px solid darken($gray-lighter, 15%);
  padding: 0;
}
.dashboard-top{
  > div{
    @media screen and (min-width: 970px){
      /* make the two top sections the same height */
      min-height: 310px;
    }
  }
  /* override the columns at 500px. not sure if there is a better way to do this. need between an xs-sm grid */
  .col-xs-7, .col-xs-5{
    @media screen and (max-width: 500px){
      width: 100%;
      max-width: 330px;
      margin: auto;
      float: none;
      padding-bottom: 1em;
    }
  }

  .dashboard-top-image{
    padding: 0;
  }
  img{
    width: 100%;
    max-width: 330px;
  }
  .dashboard-top-house-info{
    h3{
      color: $gray-darker;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
    }
    p{
      font-weight: bold;
      font-size: 18px;
    }
    .btn{
      padding: 10px 40px;
    }
  }
  .spacer{
    margin: 3em 0;
    height: 1px;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
    display: block;
  }
}
.percentage-complete{
  h3{
    font-size: 18px;
    color: $brand-primary;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    span{
      font-size: 24px;
    }
  }
}
/* this is the slider that shows the percent done. The slider amount is styled by inline css */
.percent-scale{
  width: 230px;
  padding: 1em;
  margin: auto;
  position: relative;
  &:before, &:after{
    content: '';
    position: absolute;
    height: 1.2em;
    width:  1.2em;
    background-color: $brand-primary;
    //background-color: #9a9a9a;
    border: 3px solid #C7C7C7;
    border-radius: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &:after{
    right: 0;
    left: auto;
    background-color: #9a9a9a;
  }
  /* add the .percent-scale-completed class to .percent-scale to make the dots on both sides blue */
  &.percent-scale-completed{
    &:after{
      background-color: $brand-primary;
    }
  }
}
.percent-bar{
  display: block;
  height: 2px;
  width: 90%;
  margin: auto;
  position: absolute;
  background-color: $brand-primary;
  background-color: #9a9a9a;
  top: 26.7%;
  margin-left: -45%;
  left: 50%;
  z-index: 2;
}
/* this class is kind of redundant because of the line style. */
.percent-bar-completed{
  background-color: $brand-primary;
  height: 100%;
  width: 10%;
}
/* add the .to-do-commplete to completed tasks to make the button green */
.to-do-buttons{
  width: 250px;
  margin: auto;
  .btn{
    width: 100%;
    text-align: left;
    font-size: 16px;
    border-color: transparent;
    background-color: $brand-danger;
    margin-bottom: 0.5em;
    padding: 8px 20px 8px 12px;
    &.to-do-complete{
      background-color: $brand-success;
      background-image: url(../images/check-w.png);
      background-repeat: no-repeat;
      background-position: 95% 12px;
      background-size: 1em;
      
    }
  }
}
.dashboard-service{
  text-align: center;
  padding: 3em 0;
  @media (max-width: $screen-xs-max){
    padding: 1em 0;
  }
  h3{
    max-width: 160px;
    margin: 0.5em auto;
  }
  img{
    border-radius: 100%;
    border: 1px solid $brand-primary;
    @media (max-width: $screen-xs-max){
      max-width: 50px;
    }
  }
}
.dashboard-broker{
  position: relative;
  min-height: 444px;
  p{
    font-size: 18px;
    line-height: 1.2;
  }
  .broker-bio{
    padding: 3em;
    @media (max-width: $screen-xs-max){
      padding: 1em;
    }
  }
  .broker-info{
    float: right;
  }
  .bold{
    margin: 0;
  }
}
/*  img that sticks out of the bottom div */
.broker-image{
  position: absolute;
  right: -29px;
  bottom: 0;
  @media (max-width: $screen-xs-max){
    max-width: 100px;
    right: -12px;
  }
}
/* blue bar at the bottom with the contact info */
.broker-contact-info{
  position: absolute;
  background-color: $brand-primary;
  bottom: 0;
  left:0;
  height: 34px;
  padding: 6px 18px;
  @media (max-width: 550px){
    width: 100%;
    bottom: -34px;
  }
  @media (max-width: 450px){
    height:  58px;
    bottom: -58px;
  }
  a{
    color: #fff;
    font-size: 16px;
  }
}
.broker-phone, .broker-email{
  display: inline-block;
  padding-left: 28px;
  background-image: url(../images/icon-phone.png);
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 14px;
  @media (max-width: 450px){
    display: block;
  }
}
.broker-email{
  background-image: url(../images/icon-mail.png);
  margin-left: 10px;
  border-left: 1px solid #fff;
  padding-left: 40px;
  background-position-x: 17px;
  @media (max-width: 450px){
    border-left: 0;
    padding-left: 28px;
    background-position: 5px;
    background-size: 14px;
    margin-left: 0;
  }
}
