footer{
  background-image: url(../images/footer-houses.png);
  background-repeat: repeat-x;
  background-position: center bottom;
  padding: 30px 0 100px;
  border-bottom: 50px solid #d0d0d0;
  img{
    width: auto;
    max-width: 100%;
    @media (max-width: $screen-xs-max){
      display: block;
      margin: auto;
    }
  }
}
.footer-content{
  max-width: 1000px;
  margin: auto;
}
.sm-icons{
  margin-top: 15px;
  @media (max-width: $screen-xs-max){
    text-align: center;
  }
  a{
    display: inline-block;
    width: 33px;
    height:32px;
    background-image: url(../images/social-sprite.png);
    background-position: 0 0;
    /* these are sprites for the social icons */
    &:nth-child(2){
      background-position-x: -37px;
    }
    &:nth-child(3){
      background-position-x: -73px;
    }
    &:nth-child(4){
      background-position-x: -111px;
    }
    &:nth-child(5){
      background-position-x: -147px;
    }
    &:nth-child(6){
      background-position-x: -184px;
    }
  }
}
.footer-menu{
  max-width: 140px;
  margin: auto;
  list-style-type: none;
  padding-left: 0;
  a{
    font-size: 16px;
    color: $gray;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.footer-form{
  float: right;
  width: 240px;
  text-align: center;
  font-size: 16px;
  input{
    display: block;
    width: 100%;
    padding: 0.7em;
    margin-bottom: 0.3em;
    border: 0;
    background-color: #dadada;
    &[type="submit"]{
      background-color: $orange;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}