
.homepage{
  background-color: $gray-lighter;
}
.home-hero{
  background-image: url(../images/home-hero.jpg);
  background-size: cover;
  background-position: center;
  @media (min-width: $screen-sm-min){
    height: 669px;
  }
  .home-hero-content{
    padding-top: 70px;
    @media (min-width: $screen-sm-min){
      padding-top: 160px;
    }
    .btn{
      background-color: rgba($orange, 0.88);
      &:hover{
        background-color: $orange;
      }
      @media (max-width: $screen-xs-max){
        margin: 1.5em auto 2.5em;
      }
    }
  }
  h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: normal;
    font-family: 'proxima-nova';
    max-width: 731px;
    margin: auto;
    padding: 1em;
    @media (max-width: $screen-xs-max){
      background-color: rgba($brand-primary, 0.9);
    }
    @media (min-width: $screen-sm-min){
      background-image: url(../images/home-title.svg);
      background-repeat: no-repeat;
      background-position: center;
      padding-left: 80px;
    }
    span{
      display: block;
      font-weight: bold;
      font-size: 35px;
      @media (min-width: $screen-sm-min){
        font-size: 55px;
      }
    }
  }
}
.home-hero-list{
  //background-color: rgba($brand-primary, 0.9);
  color: #fff;
  list-style-type: none;
  padding: 2em 1em 3em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 13em 0;
  background-image: url('../images/blur5.png');
  margin-top: -123px;
  @media (min-width: $screen-sm-min){
    // width: 100%;
    // position: absolute;
    // bottom: 104px;
    background-size: contain;
  }
  &.home-3-page{
    //margin: 0 -1px; 
    margin: 0px;
    //background-color: rgba($brand-primary, 0.96);

  }

  li{
    max-width: 290px;
    margin: auto;
    background-image: url(../images/check-w.png);
    background-size: 12px;
    background-position: 0 5px;
    background-repeat: no-repeat;
    padding-left: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    @media (min-width: $screen-sm-min){
      font-size: 18px;
      background-size: 18px;
      padding-left: 23px;
      max-width: 375px;
    }
  }
}
.home-content-wrap{
  position: relative;
  max-width: 970px;
  margin: auto;
  background-color: #fff;
  border-left:  1px solid rgba(#000, 0.2);
  border-right: 1px solid rgba(#000, 0.2);

  img{
    width: auto;
    max-width: 100%;
  }
}
/* grey bar titles over each section */
.tab-title{
  margin: 0;
  width: 265px;
  height: 40px;
  background-color: $gray-dark;
  text-align: center;
  font-family: 'proxima-nova';
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
  position: relative;
  z-index: 2;
  &.tab-title-negative{
    position: absolute;
    top: -20px;
    left: -1px;
    width: 250px;
    &.home-3-page{
      position: relative;
      //margin-top: -10px;
      top: -40px;
    }
  }
  &.tab-title-testimonials{
    margin-left: 5%;
    margin-bottom: -20px;
    position: relative;
    z-index: 1;
    @media (max-width: $screen-xs-max){
      margin: auto;

    }
  }
  &.tab-title-center{
    margin: auto;
    margin-bottom: -20px;
  }
}
/* the three how it works sections */
.home-content-section{
  padding: 0 20px;
  @media (min-width: $screen-sm-min){
    padding: 0 40px;
  }
  h2{
    margin: 0 auto;
    max-width: 550px;
    font-weight: bold;
    font-size: 43px;
    color: $gray-darker;
    span{
      display: inline-block;
      height:40px;
      width: 40px;
      border-radius: 100%;
      background-color: $gray-darker;
      color: #fff;
      text-align: center;
      line-height: 39px;
      font-size: 30px;
      margin-right: 10px;
    }
  }
  p{
    margin: 1em auto;
    max-width: 525px;
  }
  img{
    margin: auto;
    display: block;
  }
  @media (min-width: 971px){
    h2, p{
      float: left;
    }
    // p{
    //   max-width: 547px;
    // }
    img{
      float: right;
      max-width: 340px;
    }
  }
}
/* modifications to how it works sections */
.home-content-section-1{
  padding-top: 3em;
}
.home-content-section-2{
  @media (min-width: 971px){
    h2, p{
      float: right;
    }
    img{
      float: left;
    }
  }
}
.home-lines{
  display: none;
  margin: auto;
  @media (min-width: 971px){
    display: block;
  }
  &.home-lines-3{
    margin-left: 16.5%;
  }
}
/* the cta in the center */
.home-center-cta, .home-cta-arrow{
  margin: 1em auto 3em;
  text-align: center;
  background-image: url(../images/home-lines-cta.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
/* modifications to the base bootstrap slider */
.slide-home{
  img{
    float: left;
  }
  p{
    max-width: 475px;
    margin-left: 430px;
    padding: 1em;
    padding-top: 3em;
    text-align: left;
    color: $gray-darker;
    text-shadow: 0 0 0 #000;
    font-size: 16px;
  }
  span{
    display: block;
    font-weight: bold;
    font-size: 18px;
  }
  @media (max-width: $screen-xs-max){
    max-width: 380px;
    margin: auto;
    img{
      width: 200px;
      float: none;
      margin: auto;
    }
    p{
      margin-left: 0;
      padding-top: 1em;
    }
  }
}
/* modifications to the carosel indicators */
.carousel-indicators-home{
  position: relative;
  float: right;
  left: 0;
  margin-top: -8%;
  @media (max-width: $screen-xs-max){
    float: none;
    margin: 0 auto;
  }
  li{
    border: 0;
    background-color: $gray-light;
    height: 15px;
    width:  15px;
    margin: 0;
    &.active{
      background-color: $brand-primary;
      height: 15px;
      width:  15px;
    }
  }
}
/* comparison table wrapper */
.comparison-table{
  background-color: $gray-lighter;
  border-top: 1px solid #ccc;
  padding: 30px 50px;
  text-align: center;
  @media (max-width: $screen-xs-max){
    padding: 30px 3px;
  }
  /* checks and x's are background images */
  .table-x, .table-check, .td-blue{
    background-image: url(../images/x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    display: block;
    width: 100%;
    height: 40px;
  }
  .table-check{
    background-image: url(../images/check.png);
  }
  /* adding some borders */
  table{
    border-bottom: 1px solid #DDD;
  }
  .table > thead > tr > th{
    border-bottom: 1px;
  }
  th{
    text-align: center;
  }
  td{
    height: 65px;
    vertical-align: middle !important;
    &:first-child{
      font-size: 16px;
      @media (min-width: $screen-md-min){
        width: 250px;
      }
    }
  }
  /*  style the homeup td's in the table */
  .td-blue{
    background-color: $brand-primary;
    background-image: url(../images/check-w.png);
    background-position: 40px 20px;
    background-size: 24px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    height: 65px;
    padding-left: 20px;   
    padding-top: 12px;
    @media (max-width: 950px){
      background-position: 20px 20px;;
      background-size: 18px;
    }
  }
  th{
    background-image: none !important;
    padding-left: 8px;
  }
}
/* bottom blue section */
.home-cta{
  background-image: url(../images/home-cta.jpg);
  padding: 5em 0 7em;
  text-align: center;
  h1{
    color: #fff;
    text-transform: uppercase;
    font-family: 'proxima-nova';
    font-weight: bold;
    font-size: 30px;
    span{
      display: block;
      font-size: 60px;
    }
  }
}
.home-cta-arrow{
  background-image: url(../images/home-lines-cta-w.png);
}



