.icheckbox_square,
.iradio_square {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(../images/blue.png) no-repeat;
    border: none;
    cursor: pointer;
    margin-right: 0.5em;
    -webkit-transition: border-radius ease 300ms;
    -moz-transition: border-radius ease 300ms;
    -ms-transition: border-radius ease 300ms;
    -o-transition: border-radius ease 300ms;
    transition: border-radius ease 300ms;
}

.icheckbox_square {
    background-position: 0 0;

    &.hover {
        background-position: -24px 0;
    }
    &.checked {
        background-position: -48px 0;
        border-radius: 0.3em;
    }
    &.disabled {
        background-position: -72px 0;
        cursor: default;
    }
    &.checked.disabled {
        background-position: -96px 0;
    }
}
.iradio_square {
    background-position: -120px 0;

    &.hover {
        background-position: -144px 0;
    }
    &.checked {
        background-position: -168px 0;
    }
    &.disabled {
        background-position: -192px 0;
        cursor: default;
    }
    &.checked.disabled {
        background-position: -216px 0;
    }
}
/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square,
    .iradio_square {
        background-image: url(../images/blue@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}
input[type="submit"]{
    @extend .tran;
}