
/*///////////////custom style to make the mls page look like a gift from the gods/////////////////
/////////////////custom style to make the mls page look like a gift from the gods/////////////////
/////////////////custom style to make the mls page look like a gift from the gods///////////////*/

/* wrap the sidebar div. the content is pushed left at 768 to let the absolutely positioned nav sit on the left */
.form-with-sidebar{
  margin: auto;
  padding-top: 40px;
  @media (max-width: $screen-xs-max){
    padding: 0;
  }
  @media (min-width: $screen-sm-min){
    position: relative;
    padding-left: 330px;
  }
  /* the side menu */
  .menu-sidebar{
    @media (min-width: $screen-sm-min){
      position: absolute;
      left: 0;
      top: 0;
      width: 330px;
      height: 100%;
      background-color: $gray-lighter;
      border-right: 1px solid $gray-light;
    }
    
    /* each item in the sidebar */
    li{
      list-style-type: none;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
      position: relative;
      /* the dots next to the item */
      &:before{
        content: '';
        position: absolute;
        height: 1.0em;
        width:  1.0em;
        background-color: $brand-primary;
        border: 3px solid #C7C7C7;
        border-radius: 100%;
        top: 1.2em;
        z-index: 1;
      }
      /* the line that shows is blue as steps progress*/
      &:after{
        content: '';
        position: absolute;
        width: 2px;
        height:100%;
        top: 0;
        left: 0.45em;
        background-color: $brand-primary;
        z-index: 2;
      }
      /* special style for the sub nav */
      &.main-menu-has-children.current-menu-item{
        a{
          padding-bottom: 0;
        }
        &:after{
          height: 60%;
        }
        .sub-menu{
          &:after{
            content: '';
            position: absolute;
            width: 2px;
            height:100%;
            top: 0;
            left: 0.45em;
            background-color: #9a9a9a;
            z-index: 2;
          }
        }
      }
      /* border top and bottom of the first and last items */
      &:first-child{
        &:after{
          top: 50%;
        }
        a{
          &:before{
            content: "";
            height: 1px;
            background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));
            background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
            background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
            background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
            background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
            display: block;
            margin-bottom: 1em;
          }
        }
      }
      &:last-child{
        &:after{
          height: 40%;
        }
        a{
          &:after{
            content: "";
            height: 1px;
            background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));
            background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
            background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
            background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
            background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
            display: block;
          }
        }
      }
      &.current-menu-item{
        a{
          font-weight: bold;
          color: $gray-dark;
          text-align: left;
        }
      }
      /* make the line after the current menu item gray */
      &.current-menu-item ~ li{
        &:before, &:after{
          background-color: #9a9a9a;
        }
      }
      /* style the side nav items */
      a{
        text-align: left !important;
        color: $gray-light;
        font-weight: normal;
        padding-left: 2em;
        padding-bottom: 1em;
        text-decoration: none;
        display: block;
        text-align: center;
        &:before, &:after{
          margin-left: -2em;
          max-width: 225px;
        }
        /* border under each nav item */
        &:before{
            content: "";
            height: 1px;
            background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));
            background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
            background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
            background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
            background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
            display: block;
            margin-bottom: 1em;
        }
        &:after{
          margin-top: 1em;
        }
      }
    }
    /* style the active sub menu item */
    ul.sub-menu{
      li{
        &:after, &:before{
          background-color: transparent;   
          border: 0;     
        }
        &.current-sub-menu-item{
          a{
            color: $brand-primary;
            font-weight: bold;
            background-image: url(../images/current-sub-menu-item.png);
            background-repeat: no-repeat;
            background-position: 18px 6px;
            background-size: 10px;
          }
        }
      }

      a{
        font-weight: normal;
        &:after, &:before{
          background: none !important;  
          margin: 0 !important;
        }
      }
    }
  }
  
  /* this is the start of styling the form side */
  h1{
    margin: 0;
    padding: 0 14px 0.8em;
    color: $brand-primary;
    font-weight: bold;
    @media (min-width: $screen-sm-min){
      padding-left: 40px;
      padding-bottom: 0;
    }
    @media (max-width: $screen-xs-max){
      max-width: 450px;
      margin: auto;
    }
    @media (max-width: $screen-xs-max){
      font-size: 1em;
      margin-top: 1em;
      padding: 0;
    }
  }
  h2{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    a{
      padding: 1em 0;
    }
  }
}
/* style the form section containers */
.lc-form-section{
  @media (min-width: $screen-sm-min){
    padding-left: 2em;
  }
  @media (max-width: $screen-xs-max){
    padding: 0 15px;
  }
}

.lc-form-group{
  padding: 1em;
  @media (max-width: $screen-xs-max){
    max-width: 450px;
    margin: auto;
    padding: 0.5em 0;
  }
  @media (min-width: $screen-sm-min){
    padding-left: 5em;
  }
  &:last-child{
    margin-bottom: 0;
  }
}
/* two submit buttons float next to each other */
.lc-form-group-submit{
  max-width: 700px;
  .btn-back{
    float: left;
  }
  .btn-cta{
    float: right;
  }
}
.form-group-title{
  @media (min-width: $screen-sm-min){
    margin-left: -2.5em;
  }
}
/* this title is in the top of the sidbar and the top of the page depending on screen size*/
.mls-title{
  font-weight: normal;
  color: $gray-light;
  padding: 1.2em;
  padding-left:2.5em;
  font-size: 1.8em;
  font-family: 'proxima-nova';
  text-align: center;
  margin: 0;
  @media (max-width: $screen-xs-max){
    background-color: $gray-lighter;
    color: $gray;
    position: relative;
    &:after{
        content: "";
        height: 1px;
        background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
        background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
        background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
        display: block;
        margin-bottom: -1em;
    }
  }
}
/*  mobile title styles */
.parent-section-title{
  padding-left: 14px;
  margin-top: 0;
  font-size: 18px;
  text-transform: uppercase;
  color: #999;

  @media (min-width: $screen-sm-min){
    padding-left: 40px;
  }
}
.lc-form-section-title{
  padding: 1em 0;

  a{
    color: $gray;
    font-weight: normal;
    font-family: 'proxima-nova';
    display: block;
    max-width: 420px;
    margin: auto;
    padding: 0 !important;
  }
}

.form-group-title{
  font-size: 0.9em;
  color: $gray-light;
  text-transform: uppercase;
  border-bottom: 1px solid darken($gray-lighter, 10%);
}
/* border the mobile sections */
.lc-form-section{
  @media (max-width: $screen-xs-max){
    background-color: $gray-lighter;
    position: relative;
    &:after{
        content: "";
        height: 1px;
        background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
        background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
        background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
        display: block;
    }
  }
}
/* current styles for the mobile sections*/
.lc-form-section-current{
  @media (max-width: $screen-xs-max){
    background-color: #fff;
  }
  .lc-form-section-title{
    background-color: $gray-lighter;
    margin: 0 -15px;
    padding: 1em 15px;
    a{
      font-weight: bold;
      color: $brand-primary;
    }
  }
  /* nesting style for the current items for mobile */
  .lc-form-section-title-has-children{
    a{
      color: $gray;
    }
    li{
      list-style-type: none;
      max-width: 420px;
      margin: auto;
      a{
        font-weight: normal;
        max-width: 800px;
        padding-left: 30px !important;
      }
      &.current-menu-item{
        a{
          color: $brand-primary;
          font-weight: bold;
          background-image: url(../images/current-sub-menu-item.png);
          background-repeat: no-repeat;
          background-size: 0.8em;
          background-position: 10px 1px;
        }
      }
    }
  }
}
/* max-width the select inputs so they are the same as the text inputs */
.lc-form-control, .lc-select{
  max-width: 330px;
}







